export "STORE_PW=$(pass IT/Android-PKS/store)"
export "PSTOR_PW=$(pass IT/Android-PKS/store/keys/pstor)"

# exported for gradle
export ORG_GRADLE_PROJECT_store_password="$STORE_PW"
export ORG_GRADLE_PROJECT_pstor_password="$PSTOR_PW"